
#log {
    height: 400px;
    width: 600px;
}

#room {
    border: 3px solid #00bfff;
    display: none;
}

#error {
    color: red;
}

#highlight {
    color: red;
    font-weight: bold;
}

#message {
    height:80px;
    width: 1000px;
    font-size: 16pt;
    resize: none;
}
